html {
  height:100%;
}

body {
    height:100% !important;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 ,h6 {
    font-family: 'Roboto Slab', serif;
}

#map {
    min-height: 250px;
    flex: 1 1 auto;
    margin-bottom: 0;
}

.mapbox {
  padding-bottom: 15px;
}

.mainbody {
  padding: 70px 15px 0 15px;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.balloon {
  margin-bottom: 0px;
  padding: 2px;
}

.dataheader {
  font-weight: bold;
}

.feather {
  margin-bottom: 2px;
}

.card {
  margin-bottom: 5px;
}

.ballooncontent {
  width:250px;
}

.notesbox {
  max-height: 128px;
  overflow-y: scroll;
}

/*-- Condition Styles --*/
.conditionunknown {
  background-color: #01579B;
  padding: 2px 4px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}

.flooded{
  background-color: #0288D1;
  padding: 2px 4px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}

.accessible{
  background-color: #689F38;
  padding: 2px 4px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}

.heavilydamaged{
  background-color: #FDD835;
  padding: 2px 4px;
  border-radius: 4px;
  color: black;
  font-weight: 600;
}

.locked{
  background-color: #FFA000;
  padding: 2px 4px;
  border-radius: 4px;
  color: black;
  font-weight: 600;
}

.inaccessible{
  background-color: #BF360C;
  padding: 2px 4px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}

.demolished{
  background-color: #C2185B;
  padding: 2px 4px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}

.destroyed{
  background-color: #7B1FA2;
  padding: 2px 4px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}

.private{
  background-color: #6D4C41;
  padding: 2px 4px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}

.unknown{
  background-color: #BDBDBD;
  padding: 2px 4px;
  border-radius: 4px;
  color: black;
  font-weight: 600;
}

/*-- Visit Status Styles --*/
.yes {
  color: #689F38;
  font-weight: 600;
}

.revisit {
  color: #FFA000;
  font-weight: 600;
}

.no {
  color: #BF360C;
  font-weight: 600;
}

.n\/a {
  color: #C2185B;
  font-weight: 600;
}
