html,body {
    height:100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
}

#map {
    height: 100%;
    width: 100%;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  
}

.box .row.header {
  flex: 0 1 auto;
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 40px;
}
